<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="36"
    android:versionName="3.6"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="com.pda.uhf_g"
    platformBuildVersionCode="28"
    platformBuildVersionName="9">
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="28"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application
        android:theme="@style/Theme.UHFG"
        android:label="@string/app_name"
        android:icon="@mipmap/logo"
        android:debuggable="true"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity
            android:theme="@style/Theme.UHFG.NoActionBar"
            android:label="@string/app_name"
            android:name="com.pda.uhf_g.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/CustomTheme_Dialog"
            android:name="me.weyye.hipermission.PermissionActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
    </application>
</manifest>
